.menu-sidebar-box {
    background-color: #000000e8;
    border-right: 1px solid rgba(255, 255, 255, 0.927);
    padding: 10px;
    width: 60px;
    spacing: 10px;
}

.menu-content-box {
    background-color: #040a1400;
    border-right: 1px solid rgba(255, 255, 255, 0.1); 
    min-width: 250px;
    min-height: 250px;
}

.tiled-container {
    padding: 10px;
    spacing: 15px;
}

.tile-button {
    background-gradient-direction: vertical;
    background-gradient-start: #353d47;
    background-gradient-end: #1C1C20;
    
    border-radius: 12px;
    color: white;
    padding: 10px;
    width: 80px;
    height: 90px;
    box-shadow: -10px 10px 8px 0px rgba(20, 20, 20, 0.6);
}

.tile-button:hover {
    /* box-shadow: -15px 10px 15px 0px rgba(0, 0, 0, 0.7); */
    background-gradient-direction: vertical;
    background-gradient-start: #4c535b;
    background-gradient-end: #1C1C20;
    
}

.tile-icon {
    icon-size: 48px;
    margin-bottom: 5px;
    icon-shadow: rgba(21, 21, 21, 0.8) -10px 10px 5px;
}

.tile-label {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-shadow: rgba(21, 21, 21, 0.8) -7px 7px 2px;
}

.drop-zone-hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
}

.category-wrapper {
    width: 310px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
}

.category-label {
    font-weight: bold;
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.add-category-zone {
    width: 240px;
    height: 100px;
    margin: 20px;
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.add-category-zone:hover, 
.add-category-zone-hover {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}